body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin: 5% 5%;
    background-color:#d2eaf5;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}


.box {
    box-shadow: .1em .1em .2em #3011cd;
    border-radius: .4em;
    border-width: .01em;
    border-style: solid;
    margin-left: .4em;
    padding: .0em .5em .1em .5em;
    margin-bottom: .5em;
    margin-top: .3em;
}

h1 {
    color: rgb(86, 86, 230);
    margin: 0em;
    display: block;
}

h2 {
    color: rgb(86, 86, 230);
    font-size: 1.2em;
    margin: 0em;
}

h3 {
    color: rgb(86, 86, 230);
    font-size: 1em;
    margin: 0em;
}

ul {
    margin: 0em 0em .3em 0em;
    list-style-type: square;
    padding-left: 1.4em;
}
.box1{
    box-shadow: .1em .1em .2em #3011cd;
    border-radius: .4em;
    border-width: .01em;
    border-style: solid;
    width:400px ;
    height: 300px;
   


}
.image { 
    width: inherit;
    height: inherit;
   
}